<!DOCTYPE html>
<html>
	<body>
		<div>
			<div class="row">
		<div>
		</div>
		<div class="col-md-6">
			<div class="form-box">
				<h1>New User Signup</h1>
				<form method="POST">
					<table class="table">
						<tbody>
							<tr>
								<td><label form="user_name">Username: </label></td>
								<td><input type="text" name="user_name" value="{{name}}"></td>
								<td>
									<p class="error">{{username_error}}</p>
								</td>
							</tr>
							<tr>
								<td><label form="password">Password: </label></td>
								<td><input type="password" name="password" value="{{password}}"></td>
								<td>
									<p class="error">{{password_error}}</p>
								</td>
							</tr>
							<tr>
								<td><label form="verify">Verify Password: </label></td>
								<td><input type="password" name="verify" value="{{verify_password}}"></td>
								<td>
									<p class="error">{{verify_password_error}}</p>
								</td>
							</tr>
							<tr>
								<td><label form="email">Email (optional): </label></td>
								<td><input type="text" name="email" value="{{email}}"></td>
								<td>
									<p class="error">{{email_error}}</p>
								</td>
							</tr>
							<tr>
								<td></td>
								<td><input type="submit" name="submit" value="{{Submit}}"></input></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
		<div>
		</div>
	</div>
</div>
</html>